// first group
.block-1{
    position: relative;
}

.first-text{
    margin: 0px;
    padding: 0px;
}

.first-block-text{
    right: 2px;
    bottom: 4px;
    position: absolute;
    color: gray;
}

.block-1-box-1{
    position: relative;
    border: solid 3px lightgray;
    background-color: rgb(255, 203, 106);
    width: 250px;
    height: 150px;
    margin: 30px;
   display: inline-block; 
}

.block-1-box-2{
    position: relative;
    border: solid 3px lightgray;
    background-color: rgb(255, 203, 106);
    width: 250px;
    height: 150px;
    margin: 30px;
    display: inline-block;
}

.block-1-box-3{
    position: relative;
    border: solid 3px lightgray;
    background-color: rgb(255, 203, 106);
    width: 250px;
    height: 150px;
    margin: 30px;
    display: inline-block;
}

// second group
.block-2{
    position: relative;
}

.second-text{
    margin: 0px;
    padding: 0px;
}

.second-block-text{
    right: 2px;
    bottom: 4px;
    position: absolute;
    color: gray;
}

.block-2-box-1{
    position: relative;
    border: solid 3px lightgray;
    background-color: rgb(255, 203, 106);
    width: 250px;
    height: 150px;
    margin: 30px;
   display: inline-block; 
}

.block-2-box-2{
    position: relative;
    border: solid 3px lightgray;
    background-color: rgb(255, 203, 106);
    width: 250px;
    height: 150px;
    margin: 30px;
    display: inline-block;
}

.block-2-box-3{
    position: relative;
    border: solid 3px lightgray;
    background-color: rgb(255, 203, 106);
    width: 250px;
    height: 150px;
    margin: 30px;
    display: inline-block;
}

#box-3-block-2{
    float: right;
}

// third group
.block-3{
    position: relative;
}

.third-text{
    margin: 0px;
    padding: 0px;
}

.third-block-text{
    right: 2px;
    bottom: 4px;
    position: absolute;
    color: gray;
}

.block-3-box-1{
    position: relative;
    border: solid 3px lightgray;
    background-color: rgb(255, 203, 106);
    width: 250px;
    height: 150px;
    margin: 30px;
   display: inline-block; 
}

.block-3-box-2{
    position: relative;
    border: solid 3px lightgray;
    background-color: rgb(255, 203, 106);
    width: 250px;
    height: 150px;
    margin: 30px;
    display: inline-block;
}

.block-3-box-3{
    position: relative;
    border: solid 3px lightgray;
    background-color: rgb(255, 203, 106);
    width: 250px;
    height: 150px;
    margin: 30px;
    display: inline-block;
}

// fourth group
.block-4{
    position: relative;
}

.fourth-text{
    margin: 0px;
    padding: 0px;
}

.fourth-block-text{
    right: 2px;
    bottom: 4px;
    position: absolute;
    color: gray;
}

.block-4-box-1{
    position: relative;
    border: solid 3px lightgray;
    background-color: rgb(255, 203, 106);
    width: 250px;
    height: 150px;
    margin: 30px;
   display: inline-block; 
}

.block-4-box-2{
    position: relative;
    border: solid 3px lightgray;
    background-color: rgb(255, 203, 106);
    width: 250px;
    height: 150px;
    margin: 30px;
    display: inline-block;
}

.block-4-box-3{
    position: relative;
    border: solid 3px lightgray;
    background-color: rgb(255, 203, 106);
    width: 250px;
    height: 150px;
    margin: 30px;
    display: inline-block;
}
