.container {
  position: relative;
  border: solid 4px black;
  width: 1000px;
  height: 650px;
  margin: auto;
}

.red-block {
  background-color: red;
  width: 600px;
  height: 200px;
}

.blue-block {
  background-color: blue;
  position: absolute;
  width: 550px;
  height: 550px;
  top: 50px;
  left: 230px;
}

.green-block {
  background-color: green;
  width: 300px;
  height: 300px;
  position: absolute;
  bottom: 0px;
  left: 0px;
}

.yellow-block {
  background-color: yellow;
  width: 300px;
  height: 500px;
  position: absolute;
  bottom: 0px;
  right: 0px;
}/*# sourceMappingURL=style.css.map */