.container{
    position: relative;
    border: solid 3px black;
    width: 900px;
    height: 800px;
    margin: auto;
}

.red{
    border: solid red 2px;
    background-color: red;
    height: 200px;
    width: 200px;
    margin: 50px;
}

.green{
    position: absolute;
    left: 130px;
    top: 150px;
    border: solid green 2px;
    background-color: green;
    height: 200px;
    width: 200px;
}

.blue{
    position: absolute;
    left: 230px;
    top: 250px;
    border: solid blue 2px;
    background-color: blue;
    height: 200px;
    width: 200px;
}

.yellow{
    position: absolute;
    left: 330px;
    top: 350px;
    border: solid yellow 2px;
    background-color: yellow;
    height: 200px;
    width: 200px;
}
