body {
  position: relative;
}

.orange-block-1 {
  background-color: orange;
  height: 50px;
  width: 50px;
  position: absolute;
  left: 105px;
  top: 110px;
}

.block-red {
  background-color: red;
  width: 300px;
  height: 300px;
  position: absolute;
  top: -8px;
  left: -8px;
}

.orange-block-2 {
  background-color: orange;
  height: 50px;
  width: 50px;
  position: absolute;
  left: 140px;
  top: 115px;
}

.block-blue {
  background-color: blue;
  width: 300px;
  height: 300px;
  position: absolute;
  top: -8px;
  right: -8px;
}

.orange-block-3 {
  background-color: orange;
  height: 50px;
  width: 50px;
  position: absolute;
  left: 105px;
  top: 130px;
}

.block-green {
  background-color: green;
  width: 300px;
  height: 300px;
  position: absolute;
  top: 399px;
  left: -8px;
}

.orange-block-4 {
  background-color: orange;
  height: 50px;
  width: 50px;
  position: absolute;
  left: 145px;
  top: 140px;
}

.block-yellow {
  background-color: yellow;
  width: 300px;
  height: 300px;
  position: absolute;
  top: 399px;
  right: -8px;
}/*# sourceMappingURL=style.css.map */