.container{
    position: relative;
    margin: auto;
    border: solid 2px black;
    width: 1050px;
    height: 500px;
    background-color: rgb(197, 197, 197);
}

h1{
    text-align: center;
}

.left-top{
    position: absolute;
    left: 0px;
    top: 0px;
    height: 200px;
    width: 200px;
}

.right-top{
    position: absolute;
    right: 0px;
    top: 0px;
    height: 200px;
    width: 200px;
}

.left-bottom{
    position: absolute;
    left: 0px;
    bottom: 0px;
    height: 200px;
    width: 200px;
}

.right-bottom{
    position: absolute;
    right: 0px;
    bottom: 0px;
    height: 200px;
    width: 200px;
}

.center-flowers-1{
    position: absolute;
    left: 250px;
    top: 50px;
    height: 150px;
    width: 150px;
}

.center-palms-1{
    position: absolute;
    left: 280px;
    top: 110px;
    height: 150px;
    width: 150px;
}

.center-autumn-1{
    position: absolute;
    left: 310px;
    top: 170px;
    height: 150px;
    width: 150px;
}

.center-winter-1{
    position: absolute;
    left: 370px;
    top: 230px;
    height: 150px;
    width: 150px;
}

.center-winter-2{
    position: absolute;
    right: 250px;
    top: 50px;
    height: 150px;
    width: 150px;
    z-index: 0;
}

.center-autumn-2{
    position: absolute;
    right: 280px;
    top: 110px;
    height: 150px;
    width: 150px;
    z-index: 2;
}

.center-palms-2{
    position: absolute;
    right: 310px;
    top: 170px;
    height: 150px;
    width: 150px;
    z-index: 3;
}

.center-flowers-2{
    position: absolute;
    right: 370px;
    top: 230px;
    height: 150px;
    width: 150px;
    z-index: 4;
}